body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(12,4,43);
    /* background: url('wp6360722-4k-desktop-neon-wallpapers.jpg') center center/cover; */
    color: white;
}

.card-container{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.527);
    position: absolute;
    width: 450px;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px ;
}

.card-box .center{
    text-align: center;
}

.card-box img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
}

.card-box .web-font h1{
    font-size: 30px;
    font-weight: 100;
}

.card-box .profile-description .profission{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}